* {
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    
    padding:10px 10px 0px 10px;
    background-color: black;
    display :flex;  
}
header img{
    margin-right:calc(50%-44.15px);
    height: 50px;
}
i {  
    color:white;
    font-size: 40px;
}
/*body{
  
}*/
#sessão principal figure img {width:80%;
}
header nav {display :none; 
}
footer{
    
    background-color:gray;
}