* {
    /* 
        displays
        dimensionamento
        fontes
        cores
        bordas
    */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
   
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 10%;
    padding-bottom: 10px;

    background-color: black;
}

header img {
    margin-top: 5px;
}

header nav {
    display: flex;
}

header nav a {
    padding: 35px 10px 20px 10px;
    text-align: center;
    color: white;
    text-decoration: none;
}

header nav a:hover {
    background-color: #fe3500;
    border-radius: 0 0 8px 8px;
}